{% from "_forms.html" import quickform, parsefield %}
{% extends "layout.html" %}

{%- macro accordion(title, container_list) -%}
<div class="accordion" style="width: 100%;">
	{% for container in container_list %}
 		<div class="title active">
			<i class="dropdown icon"></i>{{ title }}: {{container_list|length}}
		</div>
		<div class="content active">
			<p class="transition visible" style="display: block !important;">
			<ul class="ui list">
				{% for item in container %}
					<li>{{ item['provider_info']['pushed'] }}: {{ incident['arguments'] }}</li>
				{% endfor %}
			</ul>	
			</p>
		</div>
	{% endfor %}
</div>


{%- endmacro -%}

{% block content %}
<h2>Received incidents ({{ use }})</h2>

Showing all received incidents for events that are scheduled between {{ from_date }} and {{ to_date }}
{% if matching %}
 that match {{ matching }} in their identifier
{% endif %}
<br />

{% if events|length > 0 %}

<div class="ui equal width grid">
<div class="column">
<div class="ui grid">
<div class="six wide column">
</div></div>
<br />
<div class="ui styled accordion" style="width: 100%;">
	{% for event in events %}
  		
  		<div class="title">
<i class="dropdown icon"></i>{{ event['id_string'] }}:
	{% if event['create'] and event['create']['incidents'] %}
		{{ event['create']['incidents']|length }}
	{% else %}
		0
    {% endif %}
    -
   	{% if event['in_progress'] and event['in_progress']['incidents'] %}
		{{ event['in_progress']['incidents']|length }}
	{% else %}
		0
    {% endif %}
    -
   	{% if event['finish'] and event['finish']['incidents'] %}
		{{ event['finish']['incidents']|length }}
	{% else %}
		0
    {% endif %}
    -
   	{% if event['result'] and event['result']['incidents'] %}
		{{ event['result']['incidents']|length }}
	{% else %}
		0
    {% endif %}
</div>
<div class="content">
	<p class="transition visible" style="display: block !important;">
	<table class="ui very basic collapsing celled table">
		<tbody>
			<thead>
				<td>
					<a href="{{ url_for('show_incidents_per_id', incident_id=event['id_string'], call='create', use=use) }}">
						Create<br />
						DT#1
					</a>
				</td>
				<td>
					<a href="{{ url_for('show_incidents_per_id', incident_id=event['id_string'], call='in_progress', use=use) }}">
						In progress<br />
						DT#3
					</a>
				</td>
				<td>
					<a href="{{ url_for('show_incidents_per_id', incident_id=event['id_string'], call='finish', use=use) }}">
						Finish<br />
						DT#4
					</a>
				</td>
				<td>
					<a href="{{ url_for('show_incidents_per_id', incident_id=event['id_string'], call='result', use=use) }}">
						Result<br />
						DT#5
					</a>
				</td>
			</thead>
			<tr>
				{% for call in ['create', 'in_progress', 'finish', 'result'] %}
					<td>
						{% if event[call] and event[call]['incidents'] %}
							{% for provider,incidents_list in event[call]['incidents_per_provider'].items() %}
								{{ provider }} <br />
								<ul class="ui list">
									{% for incident in incidents_list %}
									<li>{{ incident['provider_info']['pushed'] }}: {{ incident['arguments'] }}</li>
									{% endfor %}
								</ul>	
							{% endfor %}
						{% endif %}
					</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
	</p>
</div>
  	{% endfor %}
</div>
</div>
</div>

{% else %}

No incidents came in yet.

{% endif %}

{% endblock %}


