# gitlab scanning
include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: License-Management.gitlab-ci.yml

# python docker image on which this would be run
image: python:latest

stages:
  - test

before_script:
  - apt-get update
  - apt-get install libsecp256k1-dev default-libmysqlclient-dev -y
  - pip install -r requirements.txt

test:
    script:
        - pip install -r requirements.txt
    tags:
        - docker
