graphenelib==1.0.1
peerplays==0.3.0
bookiesports
bos-incidents
bos-sync==0.3.0

pytz
Flask
Flask-Assets
Flask-Mail
Flask-Markdown
Flask-WTF
Jinja2
Markdown
PyYAML
requests
webassets>=0-12.1
flask-script
flask-sqlalchemy
mysqlclient
SQLAlchemy
uwsgi
strict_rfc3339
email_validator
