{% from "_forms.html" import quickform, parsefield %}
{% extends "layout.html" %}

{% block content %}
<h2>Open proposals</h2>

{% if containerList|length > 0 %}
{% set onlyOne = containerList|length == 1 %}
<div class="ui styled accordion">
	{% for operationContainer in containerList %}
  		{{ operationContainer(active=onlyOne)|safe }}
  	{% endfor %}
</div>

{% else %}

<div class="ui styled accordion">
  <div class="title">
    No proposals needs voting right now
  </div>
</div>

{% endif %}

{% endblock %}